@import "https://picostitch.com/style.css";

/* Basically picostitch style overrides ... if this gets too much move the styles here. */
main {
  display: initial;
}

nav {
  display: flex;
  margin-bottom: 2rem;
}
  nav * {
    flex: 1;
  }
  nav :nth-child(2) {
    text-align: center;
  }
  nav :last-child {
    text-align: right;
  }
